/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    } */
body{
    background-color:paleturquoise;
}
/* the main container */
.boxContainer {
    /* height: 100vh; */
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding-right: 60px;
    padding-top: 0%;
    -webkit-animation: slideOutLeft 20s; /* Safari 4+ */
    -moz-animation:    slideOutLeft 20s; /* Fx 5+ */
    -o-animation:      slideOutLeft 20s; /* Opera 12+ */
    animation:         slideOutLeft 20s; /* IE 10+, Fx 29+ */
}
.boxContainer2 {
    /* height: 100vh; */
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 20px;
    -webkit-animation: slideOutLeft 25s; /* Safari 4+ */
    -moz-animation:    slideOutLeft 25s; /* Fx 5+ */
    -o-animation:      slideOutLeft 25s; /* Opera 12+ */
    animation:         slideOutLeft 25s; /* IE 10+, Fx 29+ */
}
.boxContainer3 {
    /* height: 100vh; */
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 20px;
    -webkit-animation: slideOutLeft 30s; /* Safari 4+ */
    -moz-animation:    slideOutLeft 30s; /* Fx 5+ */
    -o-animation:      slideOutLeft 30s; /* Opera 12+ */
    animation:         slideOutLeft 30s; /* IE 10+, Fx 29+ */
}
.boxContainer4 {
    /* height: 100vh; */
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 20px;
    -webkit-animation: slideOutLeft 35s; /* Safari 4+ */
    -moz-animation:    slideOutLeft 35s; /* Fx 5+ */
    -o-animation:      slideOutLeft 35s; /* Opera 12+ */
    animation:         slideOutLeft 35s; /* IE 10+, Fx 29+ */
}
.boxContainer5 {
    /* height: 100vh; */
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 20px;
    -webkit-animation: slideOutLeft 10s; /* Safari 4+ */
  -moz-animation:    slideOutLeft 10s; /* Fx 5+ */
  -o-animation:      slideOutLeft 10s; /* Opera 12+ */
  animation:         slideOutLeft 10s; /* IE 10+, Fx 29+ */
}
.boxContainer6 {
    /* height: 100vh; */
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 20px;
    -webkit-animation: slideOutLeft 20s; /* Safari 4+ */
  -moz-animation:    slideOutLeft 20s; /* Fx 5+ */
  -o-animation:      slideOutLeft 20s; /* Opera 12+ */
  animation:         slideOutLeft 20s; /* IE 10+, Fx 29+ */
}

.entire{
    animation-duration: 25s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
.entire:nth-child(odd){
    transform: rotate(180deg);
}
    

.box {
    font-weight: bold;
    width: 60%;
    padding: 40px;
    font-size: 2.4em;
    width: 1200px;
}

#light{
    /* fill: rgba(89, 157, 252, 0.6); */
    animation: colorShift 7s infinite;
}
@keyframes colorShift{
    0%, 100%{ 
        fill:rgba(255, 234, 5, 0.432);
    }
    50%{
        fill:rgba(251, 255, 0, 0.205);
    }
}
#medium{
    /* fill:rgba(252, 89, 242, 0.73); */
    animation: colorShift2 3s infinite;
}
@keyframes colorShift2{
    0%, 100%{ 
        fill:rgba(253, 4, 120, 0.568);
    }
    50%{
        fill:rgba(255, 15, 195, 0.486);
    }
}
#dark{
    /* fill: rgba(89, 157, 252, 0.6); */
    animation: colorShift3 3s infinite;
}
@keyframes colorShift3{
    0%, 100%{ 
        fill: rgba(21, 113, 243, 0.37);
    }
    50%{
        fill:rgba(76, 200, 200, .8;
    }
}



/* .cloud{
    position: absolute;
}  */
/* .circleContainer {
    position: relative;
    width: 800px;
    height: 400px;
    border: 3px solid black;
} */

.circle {
    /* position: absolute; */
    background-color: paleturquoise;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    text-align: center;
    }
.circle1 {
     position: absolute;
     top: 87%;
     left: 43%;
     }
 .circle2 {
    position: absolute;
    top: 82%;
    left: 35%;
 }
 .circle3 {
    top: 85%;
    left: 25%;
    position: absolute;
 }

 .circle4 {
    top: 80%;
    left: 50%;
    position: absolute;
 }

